@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
#about-aimed,
#word-from-ceo  {
  scroll-margin-top: 80px; 
}

/* Regular */
body {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* Medium */
.medium-text {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
}

/* Bold */
.bold-text {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
}

@layer component{
     
    h1{
        font-size: clamp(1.875rem, 2.78vw + 1rem, 3.5rem);
        /* @apply text-[56px]; */
    }
    h2{
        font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 2.02vw + 1rem, 2.813rem);
        /* @apply text-[45px] */
    }
    h3{
        font-size: clamp(1.375rem, 1.46vw + 1rem, 2.313rem);
        /* @apply text-[37px] */
    }
    h4{
        font-size:clamp(1rem, 0.277vw + 1rem, 1.25rem);
          @apply /*text-[20px]*/ text-[#DF6600];
           font-family: "brandon-grotesque", sans-serif;
         font-weight: 700;
    }
    h5{
         font-family: "brandon-grotesque", sans-serif;
         font-weight: 700;
        @apply text-[15px] text-white
        
    }
    p{
        font-size: clamp(1rem, 0.277vw + 1rem, 1.25rem);
        /* @apply text-[20px] */
    }
    .large-p{
        font-size: clamp(1.125rem, 0.555vw + 1rem, 1.5rem);
        /* @apply text-[24px] */
    }
    .nav-logo{
        max-width: 126px !important;
    }
    .footer-logo{
        @apply max-w-[53]
    }
    .btn{
         font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
        @apply text-[13px] md:text-[15px]  bg-[#FBAA06] py-3 px-6 rounded-lg text-white hover:bg-[#DF6600]
    }
    .white-btn{
         font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
        @apply text-[13px] md:text-[15px] bg-white hover:bg-[#e59a05] hover:text-white py-3 px-6 inline-block  rounded-lg;
    }
    .large-btn{
      
         font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
       @apply text-[18px] md:text-[22px] lg:text-[24px] bg-[#FBAA06] py-2 px-12 rounded-lg text-white hover:bg-[#DF6600]
    
    }
.loc-icon{
    @apply max-w-5
}
.phone-icon{
    @apply max-w-6
}
.clock-icon{
    @apply max-w-[26px]
}
nav .nav-link{
     font-weight: 700;
    @apply uppercase
}

@media (max-width:1270px){
   .nav-logo{
    max-width: 100px;
   }
}
}


#mainNavbar {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smoother easing */
}

#mainNavbar.fixed {
  animation: fadeInDown 0.8s ease-out; /* optional fade-in */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#menuToggleBtn{
  @apply cursor-pointer

}


nav .nav-link {
  position: relative;
}

#active::after {
  
  position: absolute;
  left: 0;
  bottom: -37px;
  width: 100%;
  height: 4px; 
  background-color: #FBAA06; 
  
}

nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -37px; /* distance from text */
  width: 0%;
  height: 4px; /* thickness of the bar */
  background-color: #FBAA06; 
  transition: width 0.3s ease;
  will-change: width;
}

/* Hover and keyboard-focus (accessible) state */
nav .nav-link:hover::after,
nav .nav-link:focus-visible::after {
  width: 100%;
}

@media (max-width:1023px){
      
  nav .nav-link::after {

  bottom: -4px; 
  
}
}


.funds .fund-card {
  max-width: 300px;
  height: 320px;
}
.funds .fund-card img {

  @apply h-full w-full bg-cover;
   transition: transform 0.6s ease;
}

.funds .fund-card:hover img{
  transform: scale(1.1);
   transition: transform 0.6s ease;
}
 .ministry-card:hover .card-image {
            transform: scale(1.1);
        }

.funds .fund-card h3{
  @apply text-xl md:text-2xl lg:text-3xl text-white max-w-[280px] uppercase leading-[50px]
}

.footer-link{
     font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 0.277vw + 1rem, 1.25rem);
    @apply  underline hover:text-[#FBAA06]
}

@media (max-width:1260px){
    nav .w-4xl{
        @apply max-w-3xl
    }
}

@media (max-width:1130px){
    nav .w-4xl{
        @apply max-w-2xl
    }
}

@media (max-width:1034px){
    nav .w-4xl{
        @apply max-w-2xl mx-0
    }
}