@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
#about-aimed,
#word-from-ceo,
#volunteer  {
  scroll-margin-top: 150px; 
}

/* Regular */
body {
  font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
  overflow-x: hidden;
}

.bg{
  color:#000000;
}
.text{
  color:white;
}
.fill{
  color:#121212;
}
.border{
  color:#707070;
}

p.text-sm{
  font-size:14px;
}

@layer component{
  
  .little-heading{
    @apply bg-[#121212] inline-block py-1 px-5 mb-5 rounded-full text-sm border border-[#707070]
  }

    h1{
        font-size: clamp(1.875rem, 2.78vw + 1rem, 3.5rem);
        /* @apply text-[56px]; */
    }
     .large-heading{
        font-size: clamp(1.875rem, 2.78vw + 1rem, 3.5rem);
        /* @apply text-[56px]; */
    }
    h2{
       
  color: white;
  font-size: clamp(1.5rem, 2.02vw + 1rem, 2.813rem);
        /* @apply text-[45px] */
    }
    h3{
        font-size: clamp(1.375rem, 1.46vw + 1rem, 2.313rem);
        /* @apply text-[37px] */
    }
    h4{
        font-size:clamp(1.125rem, 2vw + 0.1rem, 1.5rem);
          @apply /*text-[24px]*/ text-white;
          
    }
    h5{
        
        @apply text-[15px] text-white
        
    }
    p{
      color:white;
        font-size: clamp(1rem, 0.277vw + 1rem, 1.25rem);
        /* @apply text-[20px] */
    }
    .large-p{
        font-size:clamp(1.375rem, 0.9vw + 1rem, 1.75rem);
        /* @apply text-[28px] */
    }
    .large-p-heading {
      @apply font-[700]  text-[#000000]
    }
    .nav-logo{
        max-width: 166px !important;
    }
   
    .btn{
         background:linear-gradient(to top, #005CFF, #002E80 );
        @apply text-[13px] md:text-[14px]   py-2 px-6 rounded-lg text-white  inline-block
    }
    .btn:hover{
      background:linear-gradient(to top, #005CFF, #005CFF);

    }
    .white-btn{
        
        @apply text-[13px] md:text-[14px] bg-white hover:bg-[#005CFF] hover:text-white py-3 px-6 inline-block  rounded-lg;
    }
    .grey-btn{
        
        @apply text-[13px] text-white md:text-[14px] bg-[#707070] hover:bg-[#005CFF] hover:text-white py-3 px-6 inline-block  rounded-lg;
    }
    .large-btn{
        background:linear-gradient(to top, #005CFF, #002E80 );
       @apply text-[15px] md:text-[18px]   py-3 px-8 rounded-lg text-white 
    
    }

    .large-btn:hover{
background:#005CFF;
    }

nav .nav-link{
     font-size:14px;
     color:#B2B2B2;
    @apply uppercase
}

nav .nav-link:hover{
     
     color:white;
   
}

@media (max-width:1270px){
   .nav-logo{
    max-width: 100px;
   }
}
}


#mainNavbar {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smoother easing */
}

#mainNavbar.fixed {
  animation: fadeInDown 0.8s ease-out; /* optional fade-in */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#menuToggleBtn{
  @apply cursor-pointer

}


nav .nav-link {
  position: relative;
}

#active{
  
  color:white;
  
}


.funds .fund-card {
  max-width: 350px;
  height: auto;
  @apply border border-[#707070] p-3  rounded-xl overflow-hidden;
}
.funds .fund-card img {

  @apply h-full w-full bg-cover rounded-xl;
 
}

.funds .fund-card .btn{
  @apply mb-1
}


.funds .fund-card h4{
  @apply my-3
}

.footer-link{
    
  font-size: clamp(1rem, 2vw + 0.1rem, 1.125rem);
    @apply text-white  hover:text-[#005CFF]
}

@media (max-width:1260px){
    nav .w-4xl{
        @apply max-w-3xl
    }
}

@media (max-width:1130px){
    nav .w-4xl{
        @apply max-w-2xl
    }
}

@media (max-width:1034px){
    nav .w-4xl{
        @apply max-w-2xl mx-0
    }
}

@media (max-width:768px){
    #about-aimed,
#word-from-ceo,
#volunteer  {
  scroll-margin-top: 80px; 
}
}